/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fonte padrão */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos da galeria */
#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.marmita {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
}

.marmita img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.marmita:hover {
    transform: scale(1.05);
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
